[submodule "mema/src/thirdparty/gflags"]
	path = mema/src/thirdparty/gflags
	url = https://github.com/gflags/gflags.git
[submodule "src/thirdparty/gflags"]
	path = src/thirdparty/gflags
	url = https://github.com/gflags/gflags.git
